body {
    font-family: Helvetica, "Helvetica Neue", sans-serif;
}

.red {
    color: pink;
}

.makeBigger {
    font-size: 110%;
}

.w-100 {
    width: 100% !important;
    height: 75vh;
}

.tab {
    margin-left: 40px;
}

.tab2 {
    margin-left: 60px;
}

.tab3 {
    margin-left: 80px;
}

.tab4 {
    margin-left: 100px;
}

.makeSmaller {
    width: 35%;
    height: 35%;
}