{% extends "base.html" %}
<!doctype html>
<html lang="en">
{% block content %}
    <body style="background-color:lavenderblush;">
    <h1>AAA Testing</h1>
    <p>
        The AAA (Arrange-Act-Assert) pattern has become almost a standard across the industry. It suggests that you
        should divide your test method into three sections: arrange, act and assert. Each one of them only responsible
        for the part in which they are named after. The AAA pattern is used to write unit tests and ensures that the
        tester writes a good test.
    </p>

    <h4>Arrange</h4>
    <p>
        Does the test require any objects or special settings (e.g. variables) Does it need to prep a database Does it
        need to log in to a webapp Endpoint URL (base URL & query parameters)
    </p>

    <h4>Act</h4>
    <p>
        Call on a function/method (call a function using a variable and store the return value in a variable) Call on a
        REST API Interacting with a web page
    </p>

    <h4>Assert</h4>
    <p>
        Should elicit some sort of response that determines if the test passes or fails
    </p>

    <h4>Tutorial</h4>
    <p>

    </p>

    <h4>Research Links</h4>
    <a href="https://github.com/kipkitur/python_assertions">https://github.com/kipkitur/python_assertions</a>


    </body>
{% endblock %}
</html>