{% extends "base.html" %}
<!doctype html>
<html lang="en">
{% block content %}
    <body style="background-color:lightsteelblue ;">
    <h1>OOP Terms with Definitions</h1>
    <p>
        Explain how the calculator program demonstrates the principles of object oriented programming: Encapsulation,
        Inheritance, Polymorphism, and Abstraction. You can create an article on how the calculator demonstrates SOLID
        and identifies the use of design patterns such as the factory pattern.
    </p>

    <h4>Instantiation</h4>
    <p>

    </p>

    <h4>Object</h4>
    <p>

    </p>

    <h4>Class</h4>
    <p>

    </p>

    <h4>Namespace</h4>
    <p>

    </p>

    <h4>Constructor</h4>
    <p>

    </p>
    <h4>Namespace</h4>
    <h4>Constructor</h4>
    <h4>Fixture</h4>
    <h4>Type Cast</h4>
    <h4>Type Hint</h4>
    <h4>Unit Test</h4>
    <h4>Static</h4>
    <h4>Instance Method</h4>
    <h4>Instance Property</h4>
    <h4>Static Method</h4>
    <h4>Static Property</h4>
    <h4>Encapsulation</h4>
    <h4>Inheritance</h4>
    <h4>Polymorphism</h4>
    <h4>Abstraction</h4>
    <h4>SOLID</h4>
    <h4>Design Patterns</h4>





    </body>
{% endblock %}
</html>