{% extends "base.html" %}
<!doctype html>
<html lang="en">
{% block content %}
    <body style="background-color:mistyrose;">
    <h1>About Docker</h1>
    <p class="makeBigger">
        Docker is an open source containerization platform and application build and deployment tool. It is an open
        platform for developing, shipping, and running applications through containers.
    </p>
    <h4>What are containers?</h4>
    <p>
        A container is a standard unit of software that packages up code and all its dependencies so the application
        runs quickly and reliably from one computing environment to another.
    </p>

    <h4>What are images?</h4>
    <p>
        An image is a lightweight, standalone, executable package of software that includes everything needed to run an
        application: code, runtime, system tools, system libraries and settings.
    </p>

    <p>
        <a href="https://hub.docker.com/repository/docker/kellywu2002/sp22p1"><h4>Link to the project repository on
        docker hub</h4></a>
    </p>
    <p>
    <h4>Docker Commands</h4>
    docker build = Build an image from a Dockerfile <br>
    docker commit = Create a new image from a container’s changes <br>
    docker container = manage containers <br>
    docker kill = kill running containers <br>
    docker push = push an image or repo to a registry <br>
    docker rm = remove containers <br>
    docker run = run a command in a new container <br>
    </p>
    <h4>How to start the project</h4>
    <p>

    </p>

    <h4>How to access the container with the terminal</h4>
    <p>

    </p>
    </body>
{% endblock %}
</html>