{% extends "base.html" %}
<!doctype html>
<html lang="en">
{% block content %}
    <body style="background-color:mistyrose;">
    <h4>What are containers?</h4>
    <p>
        A container is a standard unit of software that packages up code and all its dependencies so the application
        runs quickly and reliably from one computing environment to another.
    </p>

    <h4>What are images?</h4>
    <p>

    </p>

    <h4>Link to the project repository on docker hub</h4>
    <p>

    </p>

    <h4>Docker Commands</h4>
    <p>

    </p>

    <h4>How to start the project</h4>
    <p>

    </p>

    <h4>How to access the container with the terminal</h4>
    <p>

    </p>
    </body>
{% endblock %}
</html>