{% extends "base.html" %}
<!doctype html>
<html lang="en">
{% block content %}
    <body style="background-color:#FEE3C9 ;">
     <h1>CI/CD Page</h1>
     <p>Shintaro Tsuji founded Sanrio on August 10, 1960, then known as the Yamanashi Silk Company using ¥1,000,000 in
        capital. In 1962, Tsuji expanded his enterprise from silk to rubber sandals with flowers painted on them. Tsuji
        noticed his success gained by merely adding a cute design to the sandals.
    </p>
    </body>
{% endblock %}
</html>