{% extends "base.html" %}
<!doctype html>
<html lang="en">
{% block content %}
    <body style="background-color:lightyellow;">
    <h1>About Git</h1>
    <p>
        Git is a free and open source software designed to track changes in any set of files. It is a version control
        system that can keep track of both small and large projects. It is a common tool used by programmers and
        developers to collaborate on source code during software development. Git's goals are data integrity, speed, and
        support for non-linear workflows.

    </p>

    <h4>What are branches?</h4>
    <p>
        Branches are different lines of development in Git. Git's default branch name is "master", and it is created
        when the git init command is called. However, you can add additional branches to master. As commits are made,
        the head of the branch moves forward. Your working tree is associated with one branch, and this branch is called
        the checked out branch. The head also points to this branch.
    </p>

    <h4>What is merging?</h4>
    <p>
        Merging is bringing the contents of another branch, whether it be your own or from an external repository, into
        your current branch. If the branch that is being merged is from a different repository, then it is pulled.
        Merging identifies all the changes made and makes all those changes together in the repository. Merging creates
        a new commit in git, referred to as a merge commit.
    </p>

    <h4>What is a commit?</h4>
    <p>
        A commit is a revision to the code or a version of the project. Essentially, it is one single point in the Git
        history or the entire history of a project. If you mess up a part of the project, you can restore a previous
        version of the project through previous commits.
    </p>

    <h4>What are tags?</h4>
    <p>
        Tags are used to mark specific points in your repository's history. These tags let programmers know that a
        commit stage is relevant, and can also be used for future reference.
    </p>

    <h4>What is a repository?</h4>
    <p>
        A repository tracks all the changes made to the files in a project, essentially creating a history over time.
        Repositories can be viewed by anyone if they are public, and are great collaboration tools for programmers and
        developers.
    </p>
    </body>
{% endblock %}
</html>
