{% extends "base.html" %}
<!doctype html>
<html lang="en">
{% block content %}
    <body style="background-color:lavender ;">
    <h1>Pylint & Others</h1>
    <p>
        Create a glossary of OOP terms with definitions:, instantiation, object, class, namespace, constructor, fixture,
        type hint, type cast, unit test, static, instance method, instance property, static method, static property,
        encapsulation, inheritance, polymorphism, abstraction, Overview of SOLID, and overview of Design Patterns
    </p>

    <h4></h4>
    <p>

    </p>

    <h4></h4>
    <p>

    </p>

    <h4></h4>
    <p>

    </p>

    <h4></h4>
    <p>

    </p>

    <p>

    </p>


    </body>
{% endblock %}
</html>