{% extends "base.html" %}
<!doctype html>
<html lang="en">
{% block content %}
    <body style="background-color:lightsteelblue ;">
    <h1>How the Calculator program demonstrates the principles of object oriented programming</h1>

    <h4>Encapsulation</h4>
    <p>
        A class is a program-code-template that allows developers to create an object that has both variables (data) and
        behaviors (functions or methods). A class is an example of encapsulation in computer science in that it consists
        of data and methods that have been bundled into a single unit.
    </p>

    <h4>Inheritance</h4>
    <p>
        An OOP technique that allows one class to inherit the attributes and methods of another class. In an inheritance
        relationship, the parent class can also be referred to as the superclass or base class. The child class can be
        referred to as the subclass or derived class.
    </p>

    <h4>Polymorphism</h4>
    <p>
        A feature of object-oriented programming languages that allows a specific routine to use variables of different
        types at different times. Polymorphism is the ability of a programming language to present the same interface
        for several different underlying data types.
    </p>

    <h4>Abstraction</h4>
    <p>
        Abstraction is one of the four cornerstones of Computer Science. It involves filtering out or ignoring the
        characteristics that we don't need in order to concentrate on those that we do.
    </p>

    <h4>Research Links</h4>
    <a href="https://www.sumologic.com/glossary/encapsulation/#:~:text=A%20class%20is%20a%20program,bundled%20into%20a%20single%20unit.">https://www.sumologic.com/glossary/encapsulation/#:~:text=A%20class%20is%20a%20program,bundled%20into%20a%20single%20unit.</a>

    </body>
{% endblock %}
</html>