{% extends "base.html" %}
<!doctype html>
<html lang="en">
{% block content %}
    <body style="background-color:linen ;">
    <h1>How the Calculator demonstrates SOLID and identifies the use of design patterns</h1>
    <h4>
        SOLID stands for:<br>
    </h4>
    <p class="tab">
        S - Single-responsiblity Principle: A class should have one and only one reason to change, meaning that a class
        should have only one job.<br>
        O - Open-closed Principle: Objects or entities should be open for extension but closed for modification.<br>
        L - Liskov Substitution Principle: Let q(x) be a property provable about objects of x of type T. Then q(y)
        should be provable for objects y of type S where S is a subtype of T.<br>
        I - Interface Segregation Principle: A client should never be forced to implement an interface that it doesn’t
        use, or clients shouldn’t be forced to depend on methods they do not use.<br>
        D - Dependency Inversion Principle: Entities must depend on abstractions, not on concretions. It states that the
        high-level module must not depend on the low-level module, but they should depend on abstractions.<br>
    </p>
    <h4>Overview of Design Patterns</h4>
    <p>
        In software engineering, a design pattern is a general repeatable solution to a commonly occurring problem in
        software design. A design pattern isn't a finished design that can be transformed directly into code. It is a
        description or template for how to solve a problem that can be used in many different situations.
    </p>

    <h4></h4>
    <p>

    </p>

    <h4></h4>
    <p>

    </p>

    <h4></h4>
    <p>

    </p>

    <h4></h4>
    <p>

    </p>

    <p>

    </p>


    </body>
{% endblock %}
</html>